<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<link rel="stylesheet" href="__PUBLIC_HOME__/style/base.css" type="text/css">
<link rel="stylesheet" href="__PUBLIC_HOME__/style/global.css" type="text/css">
<link rel="stylesheet" href="__PUBLIC_HOME__/style/header.css" type="text/css">
<link rel="stylesheet" href="__PUBLIC_HOME__/style/index.css" type="text/css">
<link rel="stylesheet" href="__PUBLIC_HOME__/style/bottomnav.css" type="text/css">
<link rel="stylesheet" href="__PUBLIC_HOME__/style/footer.css" type="text/css">
<link rel="stylesheet" href="__PUBLIC_HOME__/style/list.css" type="text/css">

<script type="text/javascript" src="__PUBLIC_HOME__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC_HOME__/js/header.js"></script>
<script type="text/javascript" src="__PUBLIC_HOME__/js/index.js"></script>