	<!-- 顶部导航 start -->
	<div class="topnav">
		<div class="topnav_bd w1210 bc">
			<div class="topnav_left">
	
			</div>
			<div class="topnav_right fr">
				<ul>
				<!-- 是否已登录 -->
				<empty name="Think.session.user_id">
					<li>您好，欢迎来到京西！[<a href="{:U('User/login')}">登录</a>] [<a href="{:U('User/regist')}">免费注册</a>] </li>
				<else />
					<li>{$Think.session.user.username}您好，欢迎来到京西！[<a href="{:U('User/logout')}">退出登录</a>] [<a href="{:U('User/regist')}">注册新用户?</a>] </li>
				</empty>
					<li class="line">|</li>
					<li>我的订单</li>
					<li class="line">|</li>
					<li>客户服务</li>
	
				</ul>
			</div>
		</div>
	</div>
	<!-- 顶部导航 end -->