<extend name="Public/base" />
<block name="title">ECSHOP - 属性列表 </block>
<block name="header">
    <span class="action-span"><a href="{:U('add')}">添加属性</a></span>
    <span class="action-span1"><a href="{:U('Index/index')}">ECSHOP 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 管理属性列表 </span>
    <div style="clear:both"></div>
</block>
<block name="body">
<!-- 商品筛选 -->
<!-- 商品列表 -->
<div class="list-div" id="listDiv">
    <table cellpadding="3" cellspacing="1">
        <tr>
            <th>编号</th>
            <th>属性名称</th>
            <th>类型名称</th>
            <th>属性类型</th>
            <th>属性录入方式</th>
            <th>默认值</th>
            <th>操作</th>
        </tr>
    <volist name="data.data" id="vo" >
        <tr>
            <td align="center">{$vo.id}</td>
            <td align="center" class="first-cell"><span>{$vo.attr_name}</span></td>
        <volist name="type" id="v" >
            <eq name="v.id" value="$vo.type_id">
                <td align="center" class="first-cell"><span>{$v.type_name}</span></td>
            </eq>
        </volist>
            <td align="center" class="first-cell"><span><eq name="vo.attr_type" value="1">唯一<else />单选</eq></span></td>
            <td align="center" class="first-cell"><span><eq name="vo.attr_input_type" value="1">手动输入<else />列表选择</eq></span></td>
            <td align="center" class="first-cell"><span>{$vo.attr_value}</span></td>
             
            <td align="center">
                <a href="{:U('edit','attr_id='.$vo['id'])}" title="编辑"><img src="__PUBLIC_ADMIN__/Images/icon_edit.gif" width="16" height="16" border="0" /></a>
                <a href="{:U('del','attr_id='.$vo['id'])}" title="删除" onclick="return confirm('确定删除吗？')"><img src="__PUBLIC_ADMIN__/Images/icon_trash.gif" width="16" height="16" border="0" /></a>
            </td>
        </tr>
    </volist>
    </table>

    <!-- 分页开始 -->
    <table id="page-table" cellspacing="0">
        <tr>
            <td width="80%">&nbsp;</td>
            <td align="center" nowrap="true">
                {$data.show}
            </td>
        </tr>
    </table>
<!-- 分页结束 -->
</div>
</block>